.header {
  background-color: #e7e7e7;
  padding: 20px 0;
}

.header-wrapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.shop-name {
  font-size: clamp(32px, 5vw, 66px);
  font-family: var(--font-playball);
  text-transform: capitalize;
}

.shop-description {
  font-size: clamp(14px, 2vw, 20px);
  color: rgb(137, 137, 137);
}

.header-bouquet {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  position: relative;
  bottom: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 15px 25px;
  border-radius: 25px;
}

.header-nav-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: var(--font-roboto);
  font-weight: 500;
  color: #525252;
}

.cart {
  position: relative;
}

.cart-value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;

  color: #fff;
  font-size: 12px;
}