.header {
  background-color: #e7e7e7;
  padding: 20px 0;
}

.header-wrapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.shop-name {
  font-size: clamp(32px, 5vw, 66px);
  font-family: var(--font-playball);
  text-transform: capitalize;
}

.shop-description {
  font-size: clamp(14px, 2vw, 20px);
  color: rgb(137, 137, 137);
}

.header-bouquet {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  position: relative;
  bottom: 20px;
}