@use "./reset.scss";
@use "./mixins.scss" as *;

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-playball: "Playball", cursive;
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-geist-sans);
  scroll-behavior: smooth;
}

.wrapp-1200 {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @include mobile {
    padding: 0 20px;
  }
}

.not-found-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dead-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.not-found-text {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
