@use "./reset.scss";
@use "./mixins.scss" as *;

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-playball: "Playball", cursive;
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-geist-sans);
  scroll-behavior: smooth;
}

.wrapp-1200 {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @include mobile {
    padding: 0 20px;
  }
}