@use "../../styles/mixins.scss" as *;

.order {
  padding: 20px 0 100px;
}
.main-order-wrapp {
  max-width: 600px;
  margin: 0 auto;
}
.order-header {
  font-size: clamp(16px, 3vw, 32px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.order-id {
  font-size: 16px;
  text-transform: uppecase;
  text-align: center;
  margin-top: 10px;
}
.items-header {
  font-size: clamp(16px, 3vw, 26px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
.order-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 2px solid #0ea454;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
}
.order-item-img {
  width: 150px;
  object-fit: cover;
  height: 100%;
}
.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.order-quantity {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 500;
}
.order-price {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 500;
  color: #0ea454;
}
.order-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px dashed #0c19d6;
}
.order-wrapp div:first-child {
  font-size: 20px;
  font-weight: 500;
}
.order-wrapp div:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
}

@include mobile {
  .order-item-img {
    width: 100px;
  }
  .order-wrapp div:first-child {
    font-size: 18px;
  }
  .order-wrapp div:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
  }
}
